@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@500&display=swap');
.App{
    width: 95%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: poppins;
}
.title{
    font-weight: 700;
}